<configuration>
    <!-- Include Spring Boot default configurations for console logging -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Define properties for log file paths and names -->
    <springProperty scope="context" name="LOG_PATH" source="logging.file.path"/>
    <property name="MAIN_LOG_FILE_NAME" value="roamgram"/>
    <property name="LOG_FILE_NAME" value="api"/>
    <property name="ERR_LOG_FILE_NAME" value="api-error"/>
    <property name="MAIN_LOG_ROLLING_PATTERN" value="%date{ISO8601} %5p ${PID} --- [%thread] [%c{1}] %M - %msg%n"/>

    <!--    Appender Declaration    -->

    <!--    FILEBEAT SEND    -->
    <springProfile name="prod">

        <!-- main Logging -->
        <appender name="MainLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/${MAIN_LOG_FILE_NAME}.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <Pattern>${MAIN_LOG_ROLLING_PATTERN}</Pattern>
            </encoder>
            <!-- Rolling policy -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/${MAIN_LOG_FILE_NAME}.%d{yyyy-MM-dd}.gz</fileNamePattern>
                <maxHistory>3</maxHistory>
                <totalSizeCap>100MB</totalSizeCap>
            </rollingPolicy>
        </appender>


        <!-- API Logging -->
        <appender name="ApiLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <charset>UTF-8</charset>
                <pattern>%msg%n</pattern>
            </encoder>
            <!-- Rolling policy -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.gz</fileNamePattern>
                <maxHistory>3</maxHistory>
                <totalSizeCap>100MB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <!-- Error Logging -->
        <appender name="ErrorLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <file>${LOG_PATH}/${ERR_LOG_FILE_NAME}.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <charset>UTF-8</charset>
                <pattern>%msg%n</pattern>
            </encoder>
            <!-- Rolling policy -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/${ERR_LOG_FILE_NAME}.%d{yyyy-MM-dd}.gz</fileNamePattern>
                <maxHistory>3</maxHistory>
                <totalSizeCap>100MB</totalSizeCap>
            </rollingPolicy>
        </appender>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="MainLogFile"/>
        </root>
    </springProfile>


    <!-- Additional logging config-->
    <!-- Production Profile Configuration -->
    <springProfile name="prod">
        <!-- Attach file appenders only in prod -->
        <logger name="com.roamgram.travelDiary.common.logging.LoggingAspect" level="INFO">
            <appender-ref ref="ApiLogFile"/>
            <appender-ref ref="ErrorLogFile"/>
        </logger>

        <logger name="com.roamgram.travelDiary" level = "INFO">
            <appender-ref ref="MainLogFile"/>
        </logger>

    </springProfile>



</configuration>
